input[type=text] {
    border: 1px  solid #ccc;
    border-radius: 4px;
    background-color: white;

  }

  input[type=password] {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }