{% extends "base.html" %}

{% block title %}Acceso: Al Sistema Administrativo{% endblock %}

{% block content %}

<div class="max-w-sm mx-auto my-5">
  <h1 class="text-semibold text-2xl text-center pt-5 ">Bienvenido estimado socio!</h1>
  <p class="text-sm my-3">Por favor, utilice el siguiente formulario para iniciar sesión:</p>
  <form method="post" >

    {{ form.as_p }}

        {% csrf_token %}


    <p><input type="submit" value="Acceder" class="my-3 text-white bg-black hover:bg-dark-800 focus:ring-4 focus:outline-none focus:ring-dark-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"></p>
  </form>
  <span class="my-3">
        <a class="text-blue-700" href="{% url "account:index" %}">Regresar</a>
    </span>
</div>

{% endblock %}